.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  padding: 1rem;
}

.App-logo {
  height: 50vmin;
  margin-bottom: 1rem;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.75rem;
}

code {
  background: rgba(148, 163, 184, 0.5);
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
}

.basket-row-container:hover:not(:has(.dots-button:hover)) {
  @apply bg-gray-100;
}

.basket-row {
  @apply flex py-1 text-sm items-center;
}

.import-button {
  @apply bg-[#ACC5FD] hover:bg-[#9EB0DB] px-2 py-1 rounded;
}

.modal-overlay {
  @apply fixed inset-0 bg-black/50 flex items-center justify-center z-50;
}

.modal-content {
  @apply bg-white rounded-lg p-6 shadow-lg max-w-sm w-full mx-4;
}